.educate {
  background: url(../assets/images/texture.jpg);
  box-sizing: border-box;
  .intro {
    width: 70%;
    margin: auto;
    padding: 3rem 0;

    h2 {
      margin: 0;
      text-align: center;
    }

    p {
      margin: 0;
      font-size: 18px;
    }

    .feed-pic {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;
      .fp1 {
        background-image: url(../assets/images/food1.jpg);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 45%;
        max-width: 45%;
        height: 300px;
        margin-right: 10px;
      }

      .fp2 {
        background-image: url(../assets/images/food2.jpg);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 45%;
        max-width: 45%;
        margin-left: 10px;
        height: 300px;
      }
    }
  }
}
