header {
    height: 100vh;
    background-color: lightsalmon;
    

    nav{
        display: flex;
        align-items: center;
        padding: 4px ;
        background-color: white;
        #logo{
            border-right: 2px solid #b9b2b261;
            margin-right: 8px;
            img{
                height: 66px;
                width: 300px;
            }
        }
        ul{
            display: flex;
            padding: 0;
            li{
                list-style: none;
                padding: 0 8px;
                font-size: 1.3rem;
                font-weight: 700;
            }
        }

    }
}