header {
  height: 100vh;
  background-color: lightsalmon;

  nav {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: white;
    #logo {
      border-right: 2px solid #b9b2b261;
      margin-right: 8px;
      img {
        height: 66px;
        width: 300px;
      }
    }
    ul {
      display: flex;
      padding: 0;
      li {
        list-style: none;
        padding: 0 8px;
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
  }

  .slider {
    width: 100%;
    height: 87vh;
    overflow: hidden;

    .slides {
      width: 500%;
      height: 87vh;
      display: flex;

      input {
        display: none;
      }

      #radio1:checked ~ .first {
        margin-left: 0;
      }

      #radio2:checked ~ .first {
        margin-left: -20%;
      }

      #radio3:checked ~ .first {
        margin-left: -40%;
      }

      #radio1:checked ~ .navigation-auto .auto-btn1 {
        background: #40d3dc;
      }

      #radio2:checked ~ .navigation-auto .auto-btn2 {
        background: #40d3dc;
      }

      #radio3:checked ~ .navigation-auto .auto-btn3 {
        background: #40d3dc;
      }

      #radio4:checked ~ .navigation-auto .auto-btn4 {
        background: #40d3dc;
      }

      #headline {
        position: absolute;
        margin-top: 100px;
        margin-left: 20px;
        width: 500px;

        h1 {
          color: #32b4e6;
          font-size: 4rem;
          margin: 10px 0;
        }

        p {
          font-size: 26px;
          margin: 0;
          color: white;
        }

        h3 {
          font-size: 16px;
          color: white;
          width: fit-content;
          margin: 16px 0;
          padding: 8px 12px;
          background: #f47a31;
        }
      }

      .navigation-auto {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 80vh;

        div {
          border: 2px solid #40d3dc;
          padding: 5px;
          border-radius: 10px;
          transition: 1s;
        }

        div:not(:last-child) {
          margin-right: 40px;
        }
      }

      .slide {
        width: 20%;
        transition: 2s;

        // img{
        //     width: 100%;
        //     height: 500px;
        // }
      }

      .first {
        background-image: url(../assets/images/one.jpg);
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .second {
        background-image: url(../assets/images/two.jpg);
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .third {
        background-image: url(../assets/images/three.jpg);
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .navigation-manual {
      position: absolute;
      width: 100%;
      margin-top: -7vh;
      display: flex;
      justify-content: center;
    }

    .manual-btn {
      border: 2px solid #40d3dc;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
    }

    .manual-btn:not(:last-child) {
      margin-right: 40px;
    }

    .manual-btn:hover {
      background: #40d3dc;
    }
  }
}
