.vision {
  background-color: #5e880e;
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .vis-body {
    width: 70%;
    text-align: center;

    h1 {
      font-size: 32px;
      margin: 0;
      font-weight: 600;
      color: white;
    }

    p {
      font-size: 21px;
      color: white;
      margin-bottom: 3rem;
    }

    h3 {
      font-size: 14px;
      font-weight: 600;
      padding: 10px 5rem;
      cursor: pointer;
      display: inline-block;
      color: white;
      border: 2px solid white;

      &:hover {
        background-color: white;
        color: #5e880e;
      }
    }
  }
}

.latest {
  padding: 20px;
  background: url(../assets/images/texture.jpg);

  h2 {
    text-align: center;
    text-decoration: underline;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .col-md-3 {
      box-sizing: border-box;
      flex: 22%;
      padding: 0 1rem;
      max-width: 22%;

      .news-img {
        height: 201px;
        max-width: 100% !important;
      }

      .img1 {
        background-image: url(../assets/images/two.jpg);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }

      h3 {
        a {
          text-decoration: none;
          color: black;
        }
      }

      .hint {
        width: 70px;
        border-top: 2px solid #555;
      }

      p {
        margin: 8px 0;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
