header {
  height: 100vh;
  background-color: lightsalmon;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  background-color: white;
}

header nav #logo {
  border-right: 2px solid #b9b2b261;
  margin-right: 8px;
}

header nav #logo img {
  height: 66px;
  width: 300px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

header nav ul li {
  list-style: none;
  padding: 0 8px;
  font-size: 1.3rem;
  font-weight: 700;
}

header .slider {
  width: 100%;
  height: 87vh;
  overflow: hidden;
}

header .slider .slides {
  width: 500%;
  height: 87vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .slider .slides input {
  display: none;
}

header .slider .slides #radio1:checked ~ .first {
  margin-left: 0;
}

header .slider .slides #radio2:checked ~ .first {
  margin-left: -20%;
}

header .slider .slides #radio3:checked ~ .first {
  margin-left: -40%;
}

header .slider .slides #radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

header .slider .slides #radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

header .slider .slides #radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

header .slider .slides #radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}

header .slider .slides #headline {
  position: absolute;
  margin-top: 100px;
  margin-left: 20px;
  width: 500px;
}

header .slider .slides #headline h1 {
  color: #32b4e6;
  font-size: 4rem;
  margin: 10px 0;
}

header .slider .slides #headline p {
  font-size: 26px;
  margin: 0;
  color: white;
}

header .slider .slides #headline h3 {
  font-size: 16px;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 16px 0;
  padding: 8px 12px;
  background: #f47a31;
}

header .slider .slides .navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80vh;
}

header .slider .slides .navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

header .slider .slides .navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

header .slider .slides .slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

header .slider .slides .first {
  background-image: url(../assets/images/one.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

header .slider .slides .second {
  background-image: url(../assets/images/two.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

header .slider .slides .third {
  background-image: url(../assets/images/three.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

header .slider .navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .slider .manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

header .slider .manual-btn:not(:last-child) {
  margin-right: 40px;
}

header .slider .manual-btn:hover {
  background: #40d3dc;
}

.over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../assets/images/texture.jpg);
  padding: 2.5rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.over .overview {
  background-image: url(../assets/images/one.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  margin: 0 8px;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  max-width: 30%;
  position: relative;
}

.over .overview .over-head {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  z-index: 5;
}

.over .overview .over-head h2 {
  color: white;
  margin: 0;
  margin-bottom: 8px;
  cursor: pointer;
}

.over .overview .over-head .hint {
  width: 70px;
  border-top: 2px solid #92c039;
}

.over .overview .over-head .over-content {
  color: white;
  font-size: 18px;
  display: none;
}

.over .overview .over-head:hover {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: -webkit-gradient(linear, left bottom, left top, from(#f77e39), to(transparent));
  background: linear-gradient(to top, #f77e39, transparent);
}

.over .overview .over-head:hover .over-content {
  display: block;
}

.vision {
  background-color: #5e880e;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.vision .vis-body {
  width: 70%;
  margin: auto;
  text-align: center;
}

.vision .vis-body h1 {
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.vision .vis-body p {
  font-size: 21px;
  color: white;
  margin-bottom: 3rem;
}

.vision .vis-body h3 {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 5rem;
  cursor: pointer;
  display: inline-block;
  color: white;
  border: 2px solid white;
}

.vision .vis-body h3:hover {
  background-color: white;
  color: #5e880e;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
/*# sourceMappingURL=style.css.map */