@import "./header";
@import "./overview";
@import "./vision";
@import "./footer";
@import "./about";
@import "./feeding";
@import "./education";
@import "./program";
@import "./gallery";
@import "./contact";
@import "./covid";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
