.header {
  height: 100vh;
  background-color: lightsalmon;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  background-color: white;
}

.header nav #logo {
  border-right: 2px solid #b9b2b261;
  margin-right: 8px;
}

.header nav #logo img {
  height: 66px;
  width: 300px;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav ul li {
  list-style: none;
  padding: 0 8px;
  font-size: 1.3rem;
  font-weight: 700;
}

.header nav ul #nav-program {
  position: relative;
  cursor: pointer;
}

.header nav ul #nav-program h3 {
  margin: 0;
}

.header nav ul #nav-program div {
  display: none;
  overflow: hidden;
  position: absolute;
}

.header nav ul #nav-program:hover {
  background: none;
}

.header nav ul #nav-program:hover div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  -webkit-box-shadow: 3px 5px 6px #ccc;
          box-shadow: 3px 5px 6px #ccc;
}

.header nav ul #nav-program:hover div span {
  border-top: 2px solid #f47a31;
  background: white;
}

.header nav ul #nav-program:hover div span a {
  font-size: 15px;
  font-weight: 500;
  padding: 8px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.header nav ul #nav-program:hover div span a:hover {
  color: #f47a31;
}

.header .slider {
  width: 100%;
  height: 87vh;
  overflow: hidden;
}

.header .slider .slides {
  width: 500%;
  height: 87vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .slider .slides input {
  display: none;
}

.header .slider .slides #radio1:checked ~ .first {
  margin-left: 0;
}

.header .slider .slides #radio2:checked ~ .first {
  margin-left: -20%;
}

.header .slider .slides #radio3:checked ~ .first {
  margin-left: -40%;
}

.header .slider .slides #radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

.header .slider .slides #radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

.header .slider .slides #radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

.header .slider .slides #radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}

.header .slider .slides #headline {
  position: absolute;
  margin-top: 100px;
  margin-left: 20px;
  width: 500px;
}

.header .slider .slides #headline h1 {
  color: #32b4e6;
  font-size: 4rem;
  margin: 10px 0;
}

.header .slider .slides #headline p {
  font-size: 26px;
  margin: 0;
  color: white;
}

.header .slider .slides #headline h3 {
  font-size: 16px;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 16px 0;
  padding: 8px 12px;
  background: #f47a31;
}

.header .slider .slides .navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80vh;
}

.header .slider .slides .navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.header .slider .slides .navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

.header .slider .slides .slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

.header .slider .slides .first {
  background-image: url(../assets/images/one.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .slider .slides .second {
  background-image: url(../assets/images/two.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .slider .slides .third {
  background-image: url(../assets/images/three.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .slider .navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .slider .manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.header .slider .manual-btn:not(:last-child) {
  margin-right: 40px;
}

.header .slider .manual-btn:hover {
  background: #40d3dc;
}

.header1 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  background-color: white;
}

.header1 nav #logo {
  border-right: 2px solid #b9b2b261;
  margin-right: 8px;
}

.header1 nav #logo img {
  height: 66px;
  width: 300px;
}

.header1 nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.header1 nav ul li {
  list-style: none;
  padding: 0 8px;
  font-size: 1.3rem;
  font-weight: 700;
}

.header1 nav ul #nav-program {
  position: relative;
  cursor: pointer;
}

.header1 nav ul #nav-program h3 {
  margin: 0;
}

.header1 nav ul #nav-program div {
  display: none;
  overflow: hidden;
  position: absolute;
}

.header1 nav ul #nav-program:hover {
  background: none;
}

.header1 nav ul #nav-program:hover div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  -webkit-box-shadow: 3px 5px 6px #ccc;
          box-shadow: 3px 5px 6px #ccc;
}

.header1 nav ul #nav-program:hover div span {
  border-top: 2px solid #f47a31;
  background: white;
}

.header1 nav ul #nav-program:hover div span a {
  font-size: 15px;
  font-weight: 500;
  padding: 8px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.header1 nav ul #nav-program:hover div span a:hover {
  color: #f47a31;
}

.header1 #cover {
  height: 70vh;
  background-image: url(../assets/images/about.jpg);
  background-position-y: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #f47a31;
}

.header2 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  background-color: white;
}

.header2 nav #logo {
  border-right: 2px solid #b9b2b261;
  margin-right: 8px;
}

.header2 nav #logo img {
  height: 66px;
  width: 300px;
}

.header2 nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header2 nav ul li {
  list-style: none;
  padding: 0 8px;
  font-size: 1.3rem;
  font-weight: 700;
}

.header2 nav ul #nav-program {
  position: relative;
  cursor: pointer;
}

.header2 nav ul #nav-program h3 {
  margin: 0;
}

.header2 nav ul #nav-program div {
  display: none;
  overflow: hidden;
  position: absolute;
}

.header2 nav ul #nav-program:hover {
  background: none;
}

.header2 nav ul #nav-program:hover div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  -webkit-box-shadow: 3px 5px 6px #ccc;
          box-shadow: 3px 5px 6px #ccc;
}

.header2 nav ul #nav-program:hover div span {
  border-top: 2px solid #f47a31;
  background: white;
}

.header2 nav ul #nav-program:hover div span a {
  font-size: 15px;
  font-weight: 500;
  padding: 8px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.header2 nav ul #nav-program:hover div span a:hover {
  color: #f47a31;
}

.header2 #cover {
  height: 70vh;
  background-image: url(../assets/images/about.jpg);
  background-position-y: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #f47a31;
}

.over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../assets/images/texture.jpg);
  padding: 2.5rem 0;
}

.over .overview {
  background-image: url(../assets/images/one.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  margin: 0 8px;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  border: 1px solid black;
  max-width: 30%;
}

.over .overview .over-head {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  padding-top: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.over .overview .over-head h2 {
  color: white;
  margin: 0;
  margin-bottom: 8px;
  cursor: pointer;
}

.over .overview .over-head .hint {
  width: 70px;
  border-top: 2px solid #92c039;
}

.over .overview .over-head .over-content {
  color: white;
  font-size: 18px;
  display: none;
}

.over .overview .over-head:hover {
  padding-top: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f77e39), to(transparent));
  background: linear-gradient(to top, #f77e39, transparent);
}

.over .overview .over-head:hover .over-content {
  display: block;
}

.vision {
  background-color: #5e880e;
  padding: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vision .vis-body {
  width: 70%;
  text-align: center;
}

.vision .vis-body h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 600;
  color: white;
}

.vision .vis-body p {
  font-size: 21px;
  color: white;
  margin-bottom: 3rem;
}

.vision .vis-body h3 {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 5rem;
  cursor: pointer;
  display: inline-block;
  color: white;
  border: 2px solid white;
}

.vision .vis-body h3:hover {
  background-color: white;
  color: #5e880e;
}

.latest {
  padding: 20px;
  background: url(../assets/images/texture.jpg);
}

.latest h2 {
  text-align: center;
  text-decoration: underline;
}

.latest .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.latest .row .col-md-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 22%;
      -ms-flex: 22%;
          flex: 22%;
  padding: 0 1rem;
  max-width: 22%;
}

.latest .row .col-md-3 .news-img {
  height: 201px;
  max-width: 100% !important;
}

.latest .row .col-md-3 .img1 {
  background-image: url(../assets/images/two.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest .row .col-md-3 h3 a {
  text-decoration: none;
  color: black;
}

.latest .row .col-md-3 .hint {
  width: 70px;
  border-top: 2px solid #555;
}

.latest .row .col-md-3 p {
  margin: 8px 0;
}

.latest .row .col-md-3 p a {
  text-decoration: none;
  color: black;
}

.footer {
  border-top: 4px solid #f47a31;
}

.footer .ft1 {
  background-color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.footer .ft1 .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.footer .ft1 .form h2 {
  margin-top: 0;
  color: white;
}

.footer .ft1 .form input {
  line-height: 2rem;
  margin-bottom: 8px;
  padding-left: 6px;
  font-family: "Quicksand", sans-serif;
}

.footer .ft1 .form h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  color: white;
  padding: 10px 2rem;
  background-color: #f47a31;
  border: 2px solid #f47a31;
}

.footer .ft1 .form h3:hover {
  border: 2px solid white;
}

.footer .ft1 .form2 {
  padding: 2rem;
}

.footer .ft1 #ft-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

.footer .ft1 #ft-nav .ful1 {
  margin: 0;
  padding: 0 1rem;
}

.footer .ft1 #ft-nav .ful1 li {
  font-size: 14px;
  list-style: none;
  color: white;
}

.footer .ft1 #ft-nav .ful1 li:first-of-type {
  font-weight: 800;
  text-decoration: underline;
}

.footer .ft1 #ft-nav .ful2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 14px;
}

.footer .ft1 #ft-nav .ful2 h4 {
  margin: 0;
  text-decoration: underline;
}

.footer .ft1 .ft-lk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .ft1 .ft-lk li {
  list-style: none;
  background: #333;
  display: block;
  margin: 0 8px;
  border-radius: 50%;
  border: 2px solid #333;
  text-align: center;
}

.footer .ft1 .ft-lk li a {
  text-decoration: none;
  color: white;
}

.footer .ft1 .ft-lk li a i {
  font-size: 20px;
  padding: 6px 8px;
}

.footer .ft1 .ft-lk li:hover {
  background: #000;
}

.footer .ft2 {
  background-color: #000;
  padding: 1rem 0;
}

.footer .ft2 span {
  color: white;
  margin-left: 1rem;
}

.about {
  background: url(../assets/images/texture.jpg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about .intro {
  padding: 3rem 0;
}

.about .intro .about-title {
  width: 70%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin-top: 3rem;
}

.about .intro .about-title h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 800;
}

.about .intro .about-title p {
  margin: 0;
  font-size: 18px;
}

.about .intro .about-title:first-of-type {
  margin-bottom: 3rem;
}

.about .intro .about-end {
  width: 70%;
  border-bottom: 12px groove #f47a31;
  margin: auto;
}

.about .team {
  padding: 20px;
}

.about .team h2 {
  text-align: center;
  text-decoration: underline;
}

.about .team .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .team .row .col-md-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 22%;
      -ms-flex: 22%;
          flex: 22%;
  padding: 0 1rem;
  max-width: 22%;
}

.about .team .row .col-md-3 .news-img {
  height: 201px;
  max-width: 100% !important;
}

.about .team .row .col-md-3 .img1 {
  background-image: url(../assets/images/two.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.about .team .row .col-md-3 h3 {
  margin: 0;
}

.about .team .row .col-md-3 .hint {
  width: 70px;
  border-top: 2px solid #555;
}

.about .team .row .col-md-3 p {
  margin: 8px 0;
}

.about .team .row .col-md-3 p a {
  text-decoration: none;
  color: black;
}

.feeding {
  background: url(../assets/images/texture.jpg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feeding .intro {
  width: 70%;
  margin: auto;
  padding: 3rem 0;
}

.feeding .intro h2 {
  margin: 0;
  text-align: center;
}

.feeding .intro p {
  margin: 0;
  font-size: 18px;
}

.feeding .intro .feed-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.feeding .intro .feed-pic .fp1 {
  background-image: url(../assets/images/food1.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  max-width: 45%;
  height: 300px;
  margin-right: 10px;
}

.feeding .intro .feed-pic .fp2 {
  background-image: url(../assets/images/food2.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  max-width: 45%;
  margin-left: 10px;
  height: 300px;
}

.educate {
  background: url(../assets/images/texture.jpg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.educate .intro {
  width: 70%;
  margin: auto;
  padding: 3rem 0;
}

.educate .intro h2 {
  margin: 0;
  text-align: center;
}

.educate .intro p {
  margin: 0;
  font-size: 18px;
}

.educate .intro .feed-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.educate .intro .feed-pic .fp1 {
  background-image: url(../assets/images/food1.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  max-width: 45%;
  height: 300px;
  margin-right: 10px;
}

.educate .intro .feed-pic .fp2 {
  background-image: url(../assets/images/food2.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  max-width: 45%;
  margin-left: 10px;
  height: 300px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
/*# sourceMappingURL=style.css.map */