.about {
  background: url(../assets/images/texture.jpg);
  box-sizing: border-box;

  .intro {
    padding: 1rem 0;

    .about-title {
      width: 70%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin-top: 3rem;

      h1 {
        margin: 0;
        font-size: 36px;
        font-weight: 800;
      }
      p {
        margin: 0;
        font-size: 18px;
      }

      &:first-of-type {
        margin-bottom: 3rem;
      }
    }

    .about-end {
      width: 70%;
      border-bottom: 12px groove #f47a31;
      margin: auto;
    }
  }

  .team {
    padding: 20px;

    h2 {
      text-align: center;
      text-decoration: underline;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .col-md-3 {
        box-sizing: border-box;
        flex: 22%;
        padding: 0 1rem;
        max-width: 22%;

        .news-img {
          height: 201px;
          width: 100%;
          border-radius: 3px;
        }

        h3 {
          margin: 0;
        }

        .hint {
          width: 70px;
          border-top: 2px solid #555;
        }

        p {
          margin: 8px 0;
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about {
    .team {
      padding: 0;
      .row {
        .col-md-3 {
          max-width: 24%;
          flex: 24%;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about {
    .intro {
      padding: 0;
      .about-title {
        width: 80%;
        &:nth-child(1) {
          margin-top: 0;
          padding-top: 2rem;
        }
      }
    }
    .team {
      padding: 0;
      .row {
        width: 90%;
        justify-content: flex-start;
        margin: auto;
        .col-md-3 {
          max-width: 33%;
          flex: 33%;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .about {
    .intro {
      padding: 0;
      .about-title {
        display: flex;
        flex-direction: column;
        width: 90%;

        h1 {
          margin-bottom: 1rem;
          text-align: center;
        }
        &:nth-child(1) {
          margin-top: 0;
          padding-top: 2rem;
        }
      }
    }
    .team {
      padding: 0;
      .row {
        flex-direction: column;
        .col-md-3 {
          max-width: 90%;
          margin-bottom: 1rem;
          margin: 30px;
          .news-img {
            height: 400px;
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .about {
    .intro {
      padding: 0;
      .about-title {
        display: flex;
        flex-direction: column;
        width: 90%;

        h1 {
          margin-bottom: 1rem;
          text-align: center;
        }
        &:nth-child(1) {
          margin-top: 0;
          padding-top: 2rem;
        }
      }
    }
    .team {
      padding: 0;
      .row {
        flex-direction: column;
        .col-md-3 {
          max-width: 90%;
          margin-bottom: 1rem;
          margin: 20px;
             .news-img {
          height: 300px;
        }
        }
      }
    }
  }
}
