.gallery {
  background: url(../assets/images/texture.jpg);
  box-sizing: border-box;

  .gallery-title {
    margin: 0;
    margin-left: 3rem;
    padding-top: 2rem;
    display: inline-block;
    border-bottom: 3px solid #f47a31;
  }

  .videos {
    padding: 2rem;

    h2 {
      font-size: 40px;
      margin-top: 0;
      color: #f47a31;
    }
  }
  .images {
    padding: 3rem;

    h2 {
      font-size: 40px;
      margin: 0;
      color: #f47a31;
    }

    h1 {
      clear: both;
    }
  }
}

.donate {
  background: url(../assets/images/texture.jpg);
  box-sizing: border-box;

  div {
    width: 60%;
    margin: auto;
    padding: 3rem 0;
    h2 {
      text-align: center;
      margin: 0;
      font-size: 50px;
    }

    p {
      text-align: center;
    }

    form {
      margin-top: 2rem;
      text-align: center;

      #paypal {
        padding: 8px;
        border: 2px solid #32b4e6;
        border-radius: 5px;
        &:hover {
          background-color: white;
        }
      }
    }
  }
}
