.header {
  .slider {
    padding-top: 1rem;
  }
}

.header1 {
  #cover {
    height: 70vh;
    background-image: url(../assets/images/about.jpg);
    background-position-y: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid #f47a31;
  }
}

.header2 {
  #cover {
    height: 70vh;
    background-image: url(../assets/images/about.jpg);
    background-position-y: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid #f47a31;
  }
}
