.header {
  .slider {
    .swiper-pagination-progressbar-fill {
      background-color: darkorange;
    }

    .swiper-button-prev {
      color: #f47a31;
      font-weight: 800;
    }
    .swiper-button-next {
      color: #f47a31;
      font-weight: 800;
    }
    .swiper-slide {
      height: 650px;
      div {
        img {
          height: 650px;
        }
      }
    }
  }
}

.header1 {
  background: none;
  padding: 0;
  height: 500px;
  img {
    width: 100%;
    height: 500px;
    margin: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    .slider {
      .swiper-slide {
        height: 500px;
        div {
          img {
            height: 500px;
          }
        }
      }
    }
  }
  .header1 {
    height: 400px;
    img {
      height: 400px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header {
    .slider {
      .swiper-slide {
        height: 450px;
        div {
          img {
            height: 450px;
          }
        }
      }
    }
  }
  .header1 {
    height: 350px;
    img {
      height: 350px;
    }
  }
}
@media (max-width: 575px) {
  .header {
    .slider {
      .swiper-button-prev {
      }
      .swiper-button-next {
      }
      .swiper-slide {
        height: 300px;
        div {
          img {
            height: 300px;
          }
        }
      }
    }
  }
  .header1 {
    height: 200px;
    img {
      height: 200px;
    }
  }
}
