.header {
  .slider {
    .swiper-pagination-progressbar-fill {
      background-color: darkorange;
    }

    .swiper-button-prev {
      color: #f47a31;
      font-weight: 800;
    }
    .swiper-button-next {
      color: #f47a31;
      font-weight: 800;
    }
  }
}

.header1 {
  #cover {
    height: 70vh;
    background-image: url(../assets/images/about.jpg);
    background-position-y: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid #f47a31;
  }
}

.header2 {
  #cover {
    height: 70vh;
    background-image: url(../assets/images/about.jpg);
    background-position-y: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid #f47a31;
  }
}
