.over {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url(../assets/images/texture.jpg);
  padding: 2.5rem 0;

  .ov-1 {
    background-image: url(../assets/images/overview-we-do.jpg);
    background-position-x: 30%;
  }

  .ov-2 {
    background-image: url(../assets/images/overview-impact.jpg);
    background-position-y: 10%;
  }

  .ov-3 {
    background-image: url(../assets/images/overview-donate.jpg);

  }

  .overview {

    // background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    margin: 0 8px;
    flex: 30%;
    border: 1px solid black;
    max-width: 30%;

    .over-head {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-top: 200px;
      box-sizing: border-box;
      cursor: pointer;

      h2 {
        color: white;
        margin: 0;
        margin-bottom: 8px;
        cursor: pointer;
      }

      .hint {
        width: 70px;
        border-top: 2px solid #92c039;
      }

      .over-content {
        color: white;
        font-size: 18px;
        display: none;
      }

      &:hover {
        padding-top: 20px;
        background: linear-gradient(to top, #f77e39, transparent);

        .over-content {
          display: block;
        }
      }
    }
  }
}

.vision {
  background-color: #5e880e;
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .vis-body {
    width: 70%;
    text-align: center;

    h1 {
      font-size: 32px;
      margin: 0;
      font-weight: 600;
      color: white;
    }

    p {
      font-size: 21px;
      color: white;
      margin-bottom: 3rem;
    }

    h3 {
      font-size: 14px;
      font-weight: 600;
      padding: 10px 5rem;
      cursor: pointer;
      display: inline-block;
      color: white;
      border: 2px solid white;

      &:hover {
        background-color: white;
        color: #5e880e;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {
  .vision {
    .vis-body {
      width: 100%;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .over {
    flex-direction: column;

    .overview {
      max-width: 90%;
      margin: 30px;
    }
  }

  .vision {
    padding: 2rem 1rem;

    .vis-body {
      width: 100%;

      h1 {
        font-size: 24px;
      }

      p {
        font-size: 20px;
      }

      h3 {
        // font-size: 20px;
      }
    }
  }
}

@media (max-width: 575px) {
  .over {
    flex-direction: column;

    .overview {
      max-width: 90%;
      margin: 20px;
    }
  }

  .vision {
    padding: 2rem 1rem;

    .vis-body {
      width: 100%;

      h1 {
        font-size: 24px;
      }

      p {
        font-size: 20px;
      }

      h3 {
        // font-size: 20px;
      }
    }
  }
}