@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header .slider .swiper-pagination-progressbar-fill {
  background-color: darkorange;
}

.header .slider .swiper-button-prev {
  color: #f47a31;
  font-weight: 800;
}

.header .slider .swiper-button-next {
  color: #f47a31;
  font-weight: 800;
}

.header1 #cover {
  height: 70vh;
  background-image: url(../assets/images/about.jpg);
  background-position-y: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #f47a31;
}

.header2 #cover {
  height: 70vh;
  background-image: url(../assets/images/about.jpg);
  background-position-y: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid #f47a31;
}

.over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../assets/images/texture.jpg);
  padding: 2.5rem 0;
}

.over .overview {
  background-image: url(../assets/images/one.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  margin: 0 8px;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  border: 1px solid black;
  max-width: 30%;
}

.over .overview .over-head {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  padding-top: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.over .overview .over-head h2 {
  color: white;
  margin: 0;
  margin-bottom: 8px;
  cursor: pointer;
}

.over .overview .over-head .hint {
  width: 70px;
  border-top: 2px solid #92c039;
}

.over .overview .over-head .over-content {
  color: white;
  font-size: 18px;
  display: none;
}

.over .overview .over-head:hover {
  padding-top: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f77e39), to(transparent));
  background: linear-gradient(to top, #f77e39, transparent);
}

.over .overview .over-head:hover .over-content {
  display: block;
}

.vision {
  background-color: #5e880e;
  padding: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vision .vis-body {
  width: 70%;
  text-align: center;
}

.vision .vis-body h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 600;
  color: white;
}

.vision .vis-body p {
  font-size: 21px;
  color: white;
  margin-bottom: 3rem;
}

.vision .vis-body h3 {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 5rem;
  cursor: pointer;
  display: inline-block;
  color: white;
  border: 2px solid white;
}

.vision .vis-body h3:hover {
  background-color: white;
  color: #5e880e;
}

.footer {
  border-top: 4px solid #f47a31;
}

.footer .ft1 {
  background-color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.footer .ft1 .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.footer .ft1 .form h2 {
  margin-top: 0;
  color: white;
}

.footer .ft1 .form input {
  line-height: 2rem;
  margin-bottom: 8px;
  padding-left: 6px;
  font-family: "Quicksand", sans-serif;
}

.footer .ft1 .form h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  color: white;
  padding: 10px 2rem;
  background-color: #f47a31;
  border: 2px solid #f47a31;
}

.footer .ft1 .form h3:hover {
  border: 2px solid white;
}

.footer .ft1 .form2 {
  padding: 2rem;
}

.footer .ft1 #ft-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

.footer .ft1 #ft-nav .ful1 {
  margin: 0;
  padding: 0 1rem;
}

.footer .ft1 #ft-nav .ful1 li {
  font-size: 14px;
  list-style: none;
  color: white;
}

.footer .ft1 #ft-nav .ful1 li:first-of-type {
  font-weight: 800;
  text-decoration: underline;
}

.footer .ft1 #ft-nav .ful2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 14px;
}

.footer .ft1 #ft-nav .ful2 h4 {
  margin: 0;
  text-decoration: underline;
}

.footer .ft1 .ft-lk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .ft1 .ft-lk li {
  list-style: none;
  background: #333;
  display: block;
  margin: 0 8px;
  border-radius: 50%;
  border: 2px solid #333;
  text-align: center;
}

.footer .ft1 .ft-lk li a {
  text-decoration: none;
  color: white;
}

.footer .ft1 .ft-lk li a i {
  font-size: 20px;
  padding: 6px 8px;
}

.footer .ft1 .ft-lk li:hover {
  background: #000;
}

.footer .ft2 {
  background-color: #000;
  padding: 1rem 0;
}

.footer .ft2 span {
  color: white;
  margin-left: 1rem;
}

.about {
  background: url(../assets/images/texture.jpg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about .intro {
  padding: 1rem 0;
}

.about .intro .about-title {
  width: 70%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin-top: 3rem;
}

.about .intro .about-title h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 800;
}

.about .intro .about-title p {
  margin: 0;
  font-size: 18px;
}

.about .intro .about-title:first-of-type {
  margin-bottom: 3rem;
}

.about .intro .about-end {
  width: 70%;
  border-bottom: 12px groove #f47a31;
  margin: auto;
}

.about .team {
  padding: 20px;
}

.about .team h2 {
  text-align: center;
  text-decoration: underline;
}

.about .team .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .team .row .col-md-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 22%;
      -ms-flex: 22%;
          flex: 22%;
  padding: 0 1rem;
  max-width: 22%;
}

.about .team .row .col-md-3 .news-img {
  height: 201px;
  max-width: 100% !important;
}

.about .team .row .col-md-3 .img1 {
  background-image: url(../assets/images/two.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.about .team .row .col-md-3 h3 {
  margin: 0;
}

.about .team .row .col-md-3 .hint {
  width: 70px;
  border-top: 2px solid #555;
}

.about .team .row .col-md-3 p {
  margin: 8px 0;
}

.about .team .row .col-md-3 p a {
  text-decoration: none;
  color: black;
}

.feeding {
  background: url(../assets/images/texture.jpg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feeding .intro {
  width: 70%;
  margin: auto;
  padding: 3rem 0;
}

.feeding .intro h2 {
  margin: 0;
  text-align: center;
}

.feeding .intro p {
  margin: 0;
  font-size: 18px;
}

.feeding .intro .feed-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.feeding .intro .feed-pic .fp1 {
  background-image: url(../assets/images/food1.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  max-width: 45%;
  height: 300px;
  margin-right: 10px;
}

.feeding .intro .feed-pic .fp2 {
  background-image: url(../assets/images/food2.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  max-width: 45%;
  margin-left: 10px;
  height: 300px;
}

.educate {
  background: url(../assets/images/texture.jpg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.educate .intro {
  width: 70%;
  margin: auto;
  padding: 3rem 0;
}

.educate .intro h2 {
  margin: 0;
  text-align: center;
}

.educate .intro p {
  margin: 0;
  font-size: 18px;
}

.educate .intro .feed-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.educate .intro .feed-pic .fp1 {
  background-image: url(../assets/images/food1.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  max-width: 45%;
  height: 300px;
  margin-right: 10px;
}

.educate .intro .feed-pic .fp2 {
  background-image: url(../assets/images/food2.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  max-width: 45%;
  margin-left: 10px;
  height: 300px;
}

.program {
  background: url(../assets/images/texture.jpg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
}

.program .top-program {
  width: 60%;
  margin: auto;
  margin-bottom: 6rem;
}

.program .top-program h2 {
  margin: 0;
  font-size: 54px;
  text-align: center;
}

.program .top-program p {
  font-size: 26px;
  text-align: center;
}

.program .bottom-program h2 {
  font-size: 21px;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.program .bottom-program .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.program .bottom-program .row .col-md-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 22%;
      -ms-flex: 22%;
          flex: 22%;
  max-width: 22%;
  position: relative;
  margin: 0 1rem;
}

.program .bottom-program .row .col-md-3:hover {
  cursor: pointer;
}

.program .bottom-program .row .col-md-3:hover h3 {
  color: #f47a31;
}

.program .bottom-program .row .col-md-3 .meg1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 100%;
  height: 201px;
  background: radial-gradient(#ebc6ad, #0a0a0a);
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition: opacity 250ms ease 0s;
  transition: opacity 250ms ease 0s;
}

.program .bottom-program .row .col-md-3 .meg1 p {
  margin: 0;
  text-align: center;
  color: white;
}

.program .bottom-program .row .col-md-3 .meg1 h4 {
  margin: 0;
  margin-top: 6px;
  padding: 6px 12px;
  color: white;
  border: 2px solid white;
}

.program .bottom-program .row .col-md-3 .meg1 h4:hover {
  background-color: white;
  color: #f47a31;
}

.program .bottom-program .row .col-md-3 .news-img {
  height: 201px;
  max-width: 100% !important;
  top: 0;
  bottom: 0;
}

.program .bottom-program .row .col-md-3 .img1 {
  background-image: url(../assets/images/two.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.program .bottom-program .row .col-md-3 h3 {
  margin: 0;
  padding: 1rem;
  background-color: white;
}

.program .bottom-program .row .col-md-3 .hint {
  width: 70px;
  border-top: 2px solid #555;
}

.gallery {
  background: url(../assets/images/texture.jpg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery .gallery-title {
  margin: 0;
  margin-left: 3rem;
  padding-top: 2rem;
  display: inline-block;
  border-bottom: 3px solid #f47a31;
}

.gallery .videos {
  padding: 2rem;
}

.gallery .videos h2 {
  font-size: 40px;
  margin-top: 0;
  color: #f47a31;
}

.gallery .images {
  padding: 3rem;
}

.gallery .images h2 {
  font-size: 40px;
  margin: 0;
  color: #f47a31;
}

.gallery .images .gallery-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (250px)[10];
      grid-template-rows: repeat(10, 250px);
}

.gallery .images .gallery-image .col1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
  background-image: url(../assets/images/onee.jpg);
  background-position: 0 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .images .gallery-image .col2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 2 / 4;
  background-image: url(../assets/images/twoo.jpg);
  background-position: 0 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .images .gallery-image .col3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2 / 2 / 4 / 4;
  background-image: url(../assets/images/threee.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .images .gallery-image .col4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  background-image: url(../assets/images/fourr.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .images .gallery-image .col5 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / 5 /3;
  background-image: url(../assets/images/fivee.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .images .gallery-image .col6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 4 / 3 / 6 / 4;
  background-image: url(../assets/images/sixx.jpg);
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .images .gallery-image .col7 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 7 / 2;
  background-image: url(../assets/images/sevenn.jpg);
  background-position: 0 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .images .gallery-image .col8 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 /2 / 6 / 3;
  background-image: url(../assets/images/eight.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .images .gallery-image .col9 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 6 /2 / 7 / 4;
  background-image: url(../assets/images/nine.jpg);
  background-position: 0 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .images .gallery-image .col10 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 7 / 1 / 8 / 4;
  background-image: url(../assets/images/ten.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .images .gallery-image .col11 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 8 / 1 / 10 / 3;
  background-image: url(../assets/images/eleven.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .images .gallery-image .col12 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 8 / 3 / 10 / 4;
  background-image: url(../assets/images/twelve.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .images .gallery-image .col13 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 10 / 1 / 11 / 4;
  background-image: url(../assets/images/thirt.jpg);
  background-position: 0 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.donate {
  background: url(../assets/images/texture.jpg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.donate div {
  width: 60%;
  margin: auto;
  padding: 3rem 0;
}

.donate div h2 {
  text-align: center;
  margin: 0;
  font-size: 50px;
}

.donate div p {
  text-align: center;
}

.donate div form {
  margin-top: 2rem;
  text-align: center;
}

.donate div form #paypal {
  padding: 8px;
  border: 2px solid #32b4e6;
  border-radius: 5px;
}

.donate div form #paypal:hover {
  background-color: white;
}

.contact {
  background: url(../assets/images/texture.jpg);
  padding: 2rem 0;
}

.contact h2 {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  margin-left: 2rem;
}

.contact .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-details .contact-form {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
  padding: 0 1rem;
}

.contact .contact-details .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-details .contact-form form input {
  width: 90%;
  margin: 10px 0;
  line-height: 2.5rem;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 8px;
  border: 1px solid #555;
}

.contact .contact-details .contact-form form textarea {
  width: 90%;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
}

.contact .contact-details .contact-map {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
}

.contact .contact-details .contact-map iframe {
  border-radius: 15px;
}

.covid {
  background: url(../assets/images/texture.jpg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.covid .intro {
  width: 70%;
  margin: auto;
  padding: 3rem 0;
}

.covid .intro h2 {
  margin: 0;
  text-align: center;
}

.covid .intro p {
  margin: 0;
  font-size: 18px;
}

.covid .intro .feed-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.covid .intro .feed-pic .fp1 {
  background-image: url(../assets/images/food1.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  max-width: 45%;
  height: 300px;
  margin-right: 10px;
}

.covid .intro .feed-pic .fp2 {
  background-image: url(../assets/images/food2.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  max-width: 45%;
  margin-left: 10px;
  height: 300px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  width: 100%;
  line-height: 1rem;
  z-index: 3;
  padding: 4px;
  padding-left: 2.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#f7f4e3), color-stop(78%, #f3f7f6), to(#e9eff1));
  background: linear-gradient(to right, #f7f4e3, #f3f7f6 78%, #e9eff1);
  border-bottom: 3px solid #f47a31;
  font-family: "Roboto", sans-serif;
}

.nav #logo {
  border-right: 2px solid #b9b2b261;
  margin-right: 8px;
}

.nav #logo img {
  height: 66px;
  width: 300px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul li {
  list-style: none;
  padding: 0 8px;
  font-size: 1.3rem;
  font-weight: 700;
}

.nav ul .nav-link {
  text-decoration: none;
  color: #ff613d;
  font-weight: 700;
  font-size: 20px;
}

.nav ul .nav-link:hover {
  color: #f58a4d;
}

.nav ul #nav-program {
  position: relative;
  cursor: pointer;
}

.nav ul #nav-program h3 {
  margin: 0;
}

.nav ul #nav-program div {
  display: none;
  overflow: hidden;
  position: absolute;
}

.nav ul #nav-program:hover {
  background: none;
}

.nav ul #nav-program:hover div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  -webkit-box-shadow: 3px 5px 6px #ccc;
          box-shadow: 3px 5px 6px #ccc;
}

.nav ul #nav-program:hover div span {
  border-top: 2px solid #f47a31;
  background: white;
}

.nav ul #nav-program:hover div span a {
  font-size: 15px;
  font-weight: 500;
  padding: 8px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.nav ul #nav-program:hover div span a:hover {
  color: #f47a31;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */